<div class = "container">
	<div class = "col-md-6">
		<div class = "row">
			<h3 *ngIf="showModifyButton==false"> Add Employee </h3>
			<h3 *ngIf="showModifyButton"> Modify Employee </h3>
		</div>
		<br>
		<form>
			<div class="form-group">
				<label for="firstName">First Name</label>
			    <input type="text" class="form-control" name="firstName" [(ngModel)]="employee.firstName">
			</div>
			<div class="form-group">
			    <label for="lastName">Last Name</label>
			    <input type="text" class="form-control" name="lastName" [(ngModel)]="employee.lastName">
			</div>
			<div class="form-group">
			    <label for="salary">Salary</label>
			    <input type="text" class="form-control" name="salary" [(ngModel)]="employee.salary">
			</div>
	      <input type="button" class = "btn btn-primary pull-right" value = "Add" *ngIf="showModifyButton==false" (click)="addEmployee()">
	      <input type="button" class = "btn btn-success pull-right" value = "Modify" *ngIf="showModifyButton" (click)="modifyEmployee()">
	    </form>
	</div>

	<div class = "col-md-6">
		<div class = "row">
		<h3> List of Employees </h3>
		</div>
		<br>
		<table class = "table-striped">
			<thead>
			<tr class="row">
				<th class = "col-sm-3">
					First Name
				</th>
				<th class = "col-sm-3">
					Last Name
				</th>
				<th class = "col-sm-2">
					Salary
				</th>
				<th class = "col-sm-4">
					Options
				</th>
			</tr>				
			</thead>
			<tbody>
				<tr *ngFor="let employee of employees; let i = index;"  class="row">
					<td class = "col-sm-3">
						{{employee.firstName}}
					</td>
					<td class = "col-sm-3">
						{{employee.lastName}}
					</td>
					<td class = "col-sm-2">
						{{employee.salary}}
					</td>
					<td class = "col-sm-4">
						<button (click)="deleteEmployee(i)"
			                class="btn btn-danger"  *ngIf="showModifyButton==false">
					          Delete
					    </button>
					    <button (click)="getEmployee(i)"
					                class="btn btn-warning"  *ngIf="showModifyButton==false">
					          Modify
					    </button>
					</td>
				</tr>
			</tbody>
		</table>

		<!-- <div class = "row">
			<div class = "col-sm-3">
				<strong>First Name</strong>
			</div>
			<div class = "col-sm-3">
				<strong>Last Name</strong>
			</div>
			<div class = "col-sm-3">
				<strong>Salary</strong>
			</div>
		</div>
		<div class = "row" *ngFor="let employee of employees; let i = index;">
			<div class = "col-sm-3">
				{{employee.firstName}}
			</div>
			<div class = "col-sm-3">
				{{employee.lastName}}
			</div>
			<div class = "col-sm-2">
				{{employee.salary}}
			</div>
			<div class = "col-sm-4">
				<button (click)="deleteEmployee(i)"
			                class="btn btn-danger">
			          Delete
			    </button>
			    <button (click)="getEmployee(i)"
			                class="btn btn-warning">
			          Modify
			    </button>
			</div>
		</div> -->
	</div>
</div>