<div class = "container">
	<div class = "row">
	  <div class = "com-sm-12">
		 <nav class="navbar navbar-default">		    
		 	<ul class="nav navbar-nav">
		      <li><a routerLink = "/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
		      <li><a routerLink = "/employee" routerLinkActive="active">Employees</a></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <li  *ngIf = "!isSignedIn()" ><a routerLink = "/auth" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Sign-in</a></li>
  		      <li style = "cursor: pointer;" *ngIf = "isSignedIn()"><a (click) = "logout()"> Logout</a></li>
		    </ul>
		 </nav> 
	  </div>
	</div>

	<br><br><br>
	<router-outlet></router-outlet>
</div>